<% if @spider_target.errors.blank? %>
  $("#spider_target_<%= @spider_target.id %>").replaceWith("<%= j(render partial: 'list', locals: { spider_target: @spider_target} ) %>");
  $("#spider_target_modal").modal('hide');
<% else %>
  $(".red.pointing").remove();
  $(".field").removeClass('error');
  <% @spider_target.errors.messages.each do |key, value| %>
    //parent()方法：返回被选中元素的父元素
    $("#spider_target_<%= key %>").parent().addClass('error');
    $("#spider_target_<%= key %>").parent().append("<div class='ui basic red pointing prompt label transition visible'><%= value[0] %></div>");
  <% end %>
<% end %>


