<%= simple_form_for @medial_spider, url: admin_medial_spiders_path, method: :post, remote: true do |f| %>
  <div id="form_message" class="two fields red" style="margin-left: 15px;display:none;"></div>

  <div class="two fields">
    <%= f.input :spider_target_id, as: :select, collection: SpiderTarget.pluck(:name,:id), include_blank: false, input_html: {class: 'ui dropdown fluid'}, label: "来源网站" %>
    <%= f.input :url, label: "网址url" %>
  </div>

  <div class="two fields">
    <%= f.input :category_id, as: :select, collection: Category.pluck(:name,:id), include_blank: false, input_html: {class: 'ui dropdown fluid'}, label: "所属栏目" %>
    <%= f.input :medial_type, as: :select, collection: select_options_from_enum(MedialSpider, :medial_type), include_blank: false, input_html: {class: 'ui dropdown fluid'}, label: "内容类型" %>
  </div>

  <div class="two fields">
    <%= f.input :web_site, label: "网站模块" %>
    <div class="field">
      <label>指定时间</label>
      <div class="ui calendar J_calendar_datetime" id='calendar1'>
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <%= f.input_field :release_at, as: :string %>
        </div>
      </div>
    </div>
  </div>

  <div class="two fields">
    <%= f.input :classification_id, label: '所属分类', as: :select, collection: Classification.order(:name).pluck(:name,:id), include_blank: "选择所属分类", input_html: {class: 'ui dropdown fluid'} %>
    <%= f.input :need_approve, label: '审核类别', as: :select, collection: select_options_from_enum(MedialSpider, :need_approve), include_blank: "选择审核类别", input_html: {class: 'ui dropdown fluid'} %>
  </div>

  <div class="two fields">
    <%= f.input :tags_str, label: "标签" %>
  </div>

  <div class="field">
    <div class="actions ">
      <div class="ui button primary" id="commition">提交</div>
      <div class="ui cancel button">取消</div>
    </div>
  </div>

<% end %>

