<tr id="tag_<%= tag.id %>">
  <td class="center aligned">
    <span><%= tag.id%></span>
  </td>
  <td class="center aligned">
    <%= tag.name %>
  </td>
  <td class="center aligned">
    <%= 1 %>
  </td>
  <td class="center aligned">
    <%= day_time(tag.created_at) %>
  </td>
  </td>
  <td class="center aligned">
    <%= link_to edit_admin_tag_path(tag.id), remote: true, class: "ui icon blue basic button" do %>
      <i class="edit icon"></i>编辑
    <% end %>

    <% if tag.status == "enabled" %>
      <%= link_to update_status_admin_tags_path(id:tag.id,status:"disabled"), remote: true, class: "ui icon orange basic button" do %>
        <i class="plus icon orange"></i>禁用
      <% end %>
    <% else %>
      <%= link_to update_status_admin_tags_path(id:tag.id,status:"enabled"), remote: true, class: "ui icon blue basic button" do %>
        <i class="plus icon green"></i>启用
      <% end %>
    <% end %>

    <%= link_to admin_tag_path(tag.id), method: :delete, remote: true, class: "ui icon red basic button", data: {confirm: "确定删除吗?"} do %>
      <i class="close icon"></i>删除
    <% end %>
  </td>
</tr>
