<tr id="click_log_<%= click_log.id %>">
  <td class="center aligned">
    <span><%= click_log.user_id%></span>
  </td>
  <td class="center aligned">
    <%=  click_log.uuid%>
  </td>
  <td class="center aligned">
    <%= click_log.medial_type %>
  </td>
  <td class="center aligned">
    <%= link_to str_chip(click_log.medial&.title,20), click_log.medial&.url , target: '_blank' %>
  </td>
  <td class="center aligned">
    <%= click_log.tag_list.join(",") %>
  </td>
  <td class="center aligned">
    <%= click_log.user_tag_list.join(",") %>
  </td>
  <td class="center aligned">
    <%= day_time(click_log.created_at) %>
  </td>
  <td class="center aligned">
    <%= click_log.vpn_version %>
  </td>
</tr>
