<tr id="mark_<%= mark.id %>">
  <td class="center aligned">
    <span><%= mark.id%></span>
  </td>
  <td class="center aligned">
    <%= mark.title %>
  </td>
  <td class="center aligned">
    <a href="<%= mark.url.to_s %>" target='_blank' ><%= image_tag mark.url.to_s, width: '50px', height: '50px' if mark.url.present? %></a>
  </td>
  <td class="center aligned">
    <%= day_time(mark.created_at) %>
  </td>
  </td>
  <td class="center aligned">
    <%= link_to edit_admin_mark_path(mark.id), remote: true, class: "ui icon blue basic button" do %>
      <i class="edit icon"></i>编辑
    <% end %>

    <% if mark.status == "enabled" %>
      <%= link_to update_status_admin_marks_path(id:mark.id,status:"disabled"), remote: true, class: "ui icon orange basic button" do %>
        <i class="plus icon orange"></i>禁用
      <% end %>
    <% else %>
      <%= link_to update_status_admin_marks_path(id:mark.id,status:"enabled"), remote: true, class: "ui icon blue basic button" do %>
        <i class="plus icon green"></i>启用
      <% end %>
    <% end %>

    <%= link_to admin_mark_path(mark.id), method: :delete, remote: true, class: "ui icon red basic button", data: {confirm: "确定删除吗?"} do %>
      <i class="close icon"></i>删除
    <% end %>
  </td>
</tr>
