<div class="ui vertical fluid menu" id="verticalMenu">
  <ul>
    <li>
      <% isin = action_on_list([approved_list_admin_infos_path,approved_list_admin_videos_path]) %>
      <a class="item <%= isin ? "active" : "" %> ">
         <i class="unordered list icon"></i>
        <span class="main_menu">推荐管理</span>
        <i class="right dropdown icon"></i>
      </a>
      <div class="menu content child active" style="<%= isin ? "display: block;" : "" %>">
        <%= link_to_with_permissions approved_list_admin_infos_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>资讯列表</span>
        <% end %>
        <%= link_to_with_permissions approved_list_admin_videos_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>视频列表</span>
        <% end %>
      </div>
    </li>
    <li>
      <% isin = action_on_list([admin_medial_spiders_path,admin_infos_path,admin_videos_path,admin_medial_caches_path]) %>
      <a class="item <%= isin ? "active" : "" %> ">
        <i class="cloud icon"></i>
        <span class="main_menu">爬虫管理</span>
        <i class="right dropdown icon"></i>
      </a>
      <div class="menu content child active" style="<%= isin ? "display: block;" : "" %>">
        <%= link_to_with_permissions admin_medial_spiders_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>爬取管理</span>
        <% end %>
        <%= link_to_with_permissions admin_infos_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>资讯详情</span>
        <% end %>
        <%= link_to_with_permissions admin_videos_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>视频详情</span>
        <% end %>
        <%= link_to_with_permissions admin_medial_caches_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>分享审核</span>
        <% end %>
      </div>
    </li>
    <li>
      <% isin = action_on_list([admin_categories_path,admin_spider_targets_path,admin_tags_path]) %>
      <a class="item <%= isin ? "active" : "" %> ">
        <i class="cubes icon"></i>
        <span class="main_menu">分类管理</span>
        <i class="right dropdown icon"></i>
      </a>
      <div class="menu content child active" style="<%= isin ? "display: block;" : "" %>">
        <%= link_to_with_permissions admin_categories_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>栏目列表</span>
        <% end %>
        <%= link_to_with_permissions admin_spider_targets_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>网站列表</span>
        <% end %>
        <%= link_to_with_permissions admin_tags_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>标签列表</span>
        <% end %>
      </div>
    </li>
    <li>
      <% isin = action_on_list([admin_employees_path,admin_click_logs_path]) %>
      <a class="item <%= isin ? "active" : "" %> ">
        <i class="configure icon"></i>
        <span class="main_menu">系统管理</span>
        <i class="right dropdown icon"></i>
      </a>
      <div class="menu content child active" style="<%= isin ? "display: block;" : "" %>">
        <%= link_to_with_permissions admin_employees_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>管理员列表</span>
        <% end %>
        <%= link_to_with_permissions admin_click_logs_path, class: 'item', active_class: 'actives' do %>
          <i class="left bullseye icon"></i>
          <span>日志列表</span>
        <% end %>
      </div>
    </li>
  </ul>
</div>
