<tr id="video_<%= video.id %>">
  <td class="center aligned">
    <div class="ui checkbox">
      <input type="checkbox" name="inquiry_id" value="<%= video.id %>">
      <label></label>
    </div>
  </td>
  <td class="center aligned">
    <span><% if @page_type.present? %> <font color="orange"><%= video.id%><% else%> <%= video.id%> <%end%></span>
  </td>
  <td class="center aligned">
    <%= link_to admin_medial_spiders_path("search_params[url]" => video.medial_spiders.url), video.url , target: '_blank' %>
  </td>
  <td class="center aligned">
    <a href="<%= video.local_image_url %>" target='_blank' ><% if video.local_image_url.present? %><%= image_tag video.local_image_url, width: '75px', height: '40px' %><% end %></a>
  </td>
  <td class="center aligned">
    <%= video.category&.name %>
  </td>
  <td class="center aligned">
    <%= video.classification&.name %>
  </td>
  <td class="center aligned">
    <%= video.overlay_time %> / <%= video.play_count %>
  </td>
  <td class="center aligned">
    <%= link_to str_chip(video.title,20), video.author , target: '_blank' %> 
  </td>
  <td class="center aligned">
    <%= video.spider_target&.name %>
  </td>
  <td class="center aligned">
    <%= video.i18n_attr_is_location_source %>
  </td>
  <td class="center aligned">
    <%= video.i18n_attr_ads %>
    <%= video.ads_index if video.ads_index != 0 %>
  </td>
  <td class="center aligned">
    <%= day_time(video.release_at) %>
  </td>
  <td class="center aligned">
    <%= day_time(video.created_at) %>
  </td>
  <td class="center aligned">

    <%= link_to edit_admin_video_path(id:video.id,page_type:"list"), remote: true, class: "ui icon blue basic button" do %>
      <i class="edit icon"></i>编辑
    <% end %>
    
    <% if video.approve_status == "unapproved" %>
      <%= link_to to_approve_admin_videos_path(id:video.id), remote: true, class: "ui icon orange basic button" do %>
        <i class="edit icon"></i> <%= video.i18n_attr_approve_status%> 
      <% end %>
    <% elsif video.approve_status == "approved" %>
      <%= link_to to_approve_admin_videos_path(id:video.id), remote: true, class: "ui icon green basic button" do %>
        <i class="edit icon"></i> <%= video.i18n_attr_approve_status%> 
      <% end %>
    <% else %>
      <%= link_to to_approve_admin_videos_path(id:video.id), remote: true, class: "ui icon blue basic button" do %>
        <i class="edit icon"></i> <%= video.i18n_attr_approve_status%> 
      <% end %>
    <% end %>

    <%= link_to admin_video_path(video.id), method: :delete, remote: true, class: "ui icon red basic button", data: {confirm: "确定删除吗?"} do %>
      <i class="close icon"></i>删除
    <% end %>
  </td>
</tr>
  